html, body, #root {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #1a1a1b;
    
}

.page {
    width: 100%;
    max-height: none;
    min-height: 100vh;
    height: auto;
}

.page:not(.first-page) {
    margin-top: 25px;
}

.first-page {
    height: calc(100vh - 70px) !important;
}

.about-me, .subjects, .contact-me, .pricing {
    display: grid;
    place-items: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.text > p {
    color: #777777;
}


.subjects-content {
    width: 80%;
    min-height: 90%;
}

.about-me-content, .contact-me-content, .pricing-content {
    width: 80%;
    min-height: 80%;
}


.image > img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 100%;
}

.image {
    margin-left: 2vw;
    display: grid;
    place-items: center;
    width: min(50vw, 500px);
    height: min(50vw, 500px);
}

.text {
    width: 30%;
    padding: 3vw;
}

.subject-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 25px;
    flex-wrap: wrap;
}

.subject {
    border: 3px solid #566572;
    border-radius: 25px;
    height: 240px;
    width: 200px;
    min-width: 200px;
    padding: 10px 20px 20px 20px;
}

.subject > h2 {
    text-align: center;
    color: #242424;
}

.subject > p {
    color: #424242;
    font-style: italic;
}

.extra {
    color: #777777;
    padding-top: 50px;
    font-style: italic
}

.link {
    color: #777777;
}
